body {
  background-color: rgb(120,192,168);
  font-family: Arial;

}

h1 {
  text-align: center;
  background-color: rgb(94,65,47);
}

footer {
  text-align: center;
  background-color: rgb(94,65,47);
}


label {
  display: block;
}

input {
  background-color: rgb(252,235,182);
}

#last-name {
  font-weight: bold;
}

p {
  border: 2px ridge rgb(240,120,24);
}
